/****Animation****/
@keyframes zoomIn {

    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
        color: cornflowerblue;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        color: white;
    }
}
@keyframes opacityEf {
    from {
        opacity: 0;
    }

    to {
        opacity: .7;
    }
}

.zoomEffect {
    -webkit-animation: zoomIn 1.3s linear;
    animation: zoomIn 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.card-container > div:hover img {
    transform: scale(2) rotate( 0.1deg);
}
.card-container > div img {
    transition: transform 6s linear;
}

.productscard-container .card:hover img {
    transform: scale(1.03);
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
}

.card .bg-animate {
    
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
}
.card:hover .bg-animate, .card:focus .bg-animate {
    height: 100%;
    position: absolute;
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-animation: opacityEf 2s linear;
    animation: opacityEf 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

