<div class="container">
   
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5 heading">
        <div class="col-lg-4">
            <div class="heading-item d-flex align-items-center">
                <div class="flex-shrink-0">
                    <i class="fas fa-air-freshener fa-3x"></i>
                </div>
                <div class="flex-grow-1 ms-3">
                    <h5 class="card-title">Products</h5>
                    This is some content from a media component.
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="heading-item d-flex align-items-center">
                <div class="flex-shrink-0">
                    <i class="fas fa-seedling fa-3x"></i>
                </div>
                <div class="flex-grow-1 ms-3">
                    <h5 class="card-title">Mission</h5>
                    This is some content from a media component.
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="heading-item d-flex align-items-center">
                <div class="flex-shrink-0">
                    <i class="fas fa-lightbulb fa-3x"></i>
                </div>
                <div class="flex-grow-1 ms-3">
                    <h5 class="card-title">Vision</h5>
                    This is some content from a media component.
                </div>
            </div>
        </div>
    </div>
</div>