<div class="container">
    <!--<div class="row text-center heading">
        <div class="col-lg-4">
            <i class="fas fa-air-freshener fa-5x"></i>
            <h4>Products</h4>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh.</p>
        </div>-->
    <!-- /.col-lg-4 -->
    <!--<div class="col-lg-4">
        <i class="fas fa-seedling fa-5x"></i>
        <h4>Mission</h4>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
    </div>-->
    <!-- /.col-lg-4 -->
    <!--<div class="col-lg-4">
        <i class="fas fa-lightbulb fa-5x"></i>
        <h4>Vision</h4>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligul.</p>
    </div>-->
    <!-- /.col-lg-4 -->
    <!--</div>-->
    <div class="row gy-4 py-2 aos-init aos-animate heading" data-aos="zoom-in">
        <div class="col-lg-4">
           
            <div class="heading-item d-flex align-items-center">
                <div class="flex-shrink-0">
                    <i class="fas fa-air-freshener fa-3x"></i>
                </div>
                <div class="flex-grow-1 ms-3">
                    <h5 class="card-title">Products</h5>
                    This is some content from a media component.
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="heading-item d-flex align-items-center">
                <div class="flex-shrink-0">
                    <i class="fas fa-seedling fa-3x"></i>
                </div>
                <div class="flex-grow-1 ms-3">
                    <h5 class="card-title">Mission</h5>
                    This is some content from a media component.
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="heading-item d-flex align-items-center">
                <div class="flex-shrink-0">
                    <i class="fas fa-lightbulb fa-3x"></i>
                </div>
                <div class="flex-grow-1 ms-3">
                    <h5 class="card-title">Vision</h5>
                    This is some content from a media component.
                </div>
            </div>
        </div>
    </div>
</div>