@model dynamic

<div class="page-content">
    <div class="row gx-0">
        <div class="col-md-6 img" style="background-image: url(@Model.img);">

        </div>
        <div class="col-md-6 p-2 d-flex flex-column justify-content-center align-items-center">
            <h2 class="mb-3 text-center">@Model.title</h2>
            @if (!string.IsNullOrEmpty(Model.description))
            {
                <p class="lead">@Model.description</p>
            }
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="@Model.url" class="btn btn-primary align-self-end mb-3 card-btn">View all collection</a>
            </div>
        </div>

    </div>
</div>