<section class="summary container">
    <div class="row gx-0">
        <div class="col-md-6 img">
        </div>
        <div class="col-md-6 p-4">
            <h2 class=" fw-bold lh-1 mb-3">BAD BOY (NEW 2020)</h2>
            <p class="lead">We are glad to welcome you at our first online store for real perfume connoisseurs. If you want to sell perfumes you should know that 
            nice fragrance is not enough for success. You must tell original story that will
            give your perfumes enough charm to attract customers.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="#" class="btn btn-primary align-self-end mb-3 card-btn">View all collection</a>
            </div>
        </div>

    </div>
</section>