@model RinasWeb.ModelsView.PerfumeModelView
@{
    ViewData["Title"] = "Home Page";
}

<partial name="Components/_Hero" />
<partial name="Components/_Heading" />
@*@await Html.PartialAsync("Components/_Card", Model.ToList())*@


<partial name="Components/_Card" model="Model.Catecories" />

<partial name="Components/_Separator" model='"NEW PRODUCT"' />
<partial name="Components/_ProductsCard" model='Model.Products' />


@*<partial name="Components/_Separator" model='"Top Seller"' />

<partial name="Components/_Separator" model='"TRENDING"' />

<partial name="Components/_Separator" model='"Product Sale"' />

<partial name="Components/_Separator" model='"Our Posts"' />*@

<section class="text-center">
    <img class="d-block mx-auto logo" src="/img/logo.png" alt="R-inas logo">
    <h2 class=" mb-4"><i class="fab fa-instagram"></i> R-inas on instagram</h2>
    <div class="col-lg-12 mx-auto">
        <partial name="Components/_OwlCarousel" />
    </div>
</section>


