@model RinasWeb.ModelsView.PerfumeModelView
@{
    ViewData["Title"] = "Home Page";
}

<partial name="Components/_Hero" />
<partial name="Components/_Heading" />
@*@await Html.PartialAsync("Components/_Card", Model.ToList())*@


<partial name="Components/_Card" model="Model.Catecories" />

<partial name="Components/_Separator" model='"New Products"' />
<section class="container productscard-container">
    <partial name="Components/_OwlCarousel" model='Model.Products.OrderBy(a=>a.Published).Take(10)' />
</section>

<partial name="Components/_Separator" model='"Best Sellers"' />
<section class="container productscard-container">
    <partial name="Components/_OwlCarousel" model='Model.Products' />
</section>

<partial name="Components/_PageContent" model='new { title="BAD BOY (NEW 2021)", description="We are glad to welcome you at our first online store for" +
                " real perfume connoisseurs. If you want to sell perfumes you should" +
                " know that nice fragrance is not enough for success.You must tell " +
                "original story that willgive your perfumes enough charm to attract " +
                "customers.",url= "#", img="/img/2.jpeg" }' />

<section class="row my-5">
    <div class="col-md-6">
        <partial name="Components/_PageContent" model='new { title="Mens Fragances", description="",url= "#", img="/img/3.jpg" }' />
    </div>
    <div class="col-md-6">
        <partial name="Components/_PageContent" model='new { title="Womens Fragances", description="",url= "#", img="/img/1.jpg" }' />
    </div>
</section>

<partial name="Components/_Separator" model='"Celebrity Fragrances"' />
<section class="container productscard-container">
    <partial name="Components/_OwlCarousel" model='Model.Products.Where(a=>a.TypeId == 5)' />
</section>

<partial name="Components/_Separator" model='"Gift Sets"' />
<section class="container productscard-container">
    <partial name="Components/_OwlCarousel" model='Model.Products.Where(a=>a.TypeId == 4)' />
</section>

<partial name="Components/_Summary" model='new { title="Legacy", img="/img/banner_2.jpg", description="One of Morocco’s Largest Fragrance Retailer, R-inas specializes in the sale of genuine designer fragrances and related products at competitive prices." }' />

@*<partial name="Components/_Separator" model='"TRENDING"' />

    <partial name="Components/_Separator" model='"Product Sale"' />

    <partial name="Components/_Separator" model='"Our Posts"' />*@

<section class="text-center">
    <img class="d-block mx-auto logo" src="/img/logo.png" alt="R-inas logo">
    <h2 class=" mb-4"><i class="fab fa-instagram"></i> R-inas on instagram</h2>
    <div class="col-lg-12 mx-auto container-fluid">
        <partial name="Components/_OwlCarousel" model='null' />
    </div>
</section>


