@model RinasWeb.ModelsView.PerfumeModelView
@{
    ViewData["Title"] = "Home Page";
}

<partial name="Components/_Hero" />
<partial name="Components/_Heading" />
@*@await Html.PartialAsync("Components/_Card", Model.ToList())*@


<partial name="Components/_Card" model="Model.Catecories" />

<partial name="Components/_Separator" model='"OUR EQUIPMENT"' />
<section class="container equipment">
    <ul class="nav nav-pills mb-3 d-flex justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-newproducts-tab" data-bs-toggle="pill" data-bs-target="#pills-newproducts" type="button" role="tab" aria-controls="pills-newproducts" aria-selected="true">New Products</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-topseller-tab" data-bs-toggle="pill" data-bs-target="#pills-topseller" type="button" role="tab" aria-controls="pills-topseller" aria-selected="false">Top Seller</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-trending-tab" data-bs-toggle="pill" data-bs-target="#pills-trending" type="button" role="tab" aria-controls="pills-trending" aria-selected="false">Trending</button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="productscard-container tab-pane fade show active" id="pills-newproducts" role="tabpanel" aria-labelledby="pills-newproducts-tab">
            <partial name="Components/_OwlCarousel" model='Model.Products' />
        </div>
        <div class="productscard-container tab-pane fade" id="pills-topseller" role="tabpanel" aria-labelledby="pills-topseller-tab">
            <partial name="Components/_OwlCarousel" model='Model.Products' />
        </div>
        <div class="productscard-container tab-pane fade" id="pills-trending" role="tabpanel" aria-labelledby="pills-trending-tab">
            <partial name="Components/_OwlCarousel" model='Model.Products' />
        </div>
    </div>
</section>

<partial name="Components/_Summary" />

@*<partial name="Components/_Separator" model='"TRENDING"' />

    <partial name="Components/_Separator" model='"Product Sale"' />

    <partial name="Components/_Separator" model='"Our Posts"' />*@

<section class="text-center">
    <img class="d-block mx-auto logo" src="/img/logo.png" alt="R-inas logo">
    <h2 class=" mb-4"><i class="fab fa-instagram"></i> R-inas on instagram</h2>
    <div class="col-lg-12 mx-auto">
        <partial name="Components/_OwlCarousel" model='null' />
    </div>
</section>


